
#cv-body{
    width: 1000px;
    margin: 10px auto;
    padding: 30px;
    border: 2mm double rgb(255, 60, 0);
}

h1
{
    text-align:center;
    text-decoration:underline;
}
h5
{
    font-size: 1.2em;
    color: blue;
}
#block1
{  
    /* width: 100%;
    height: 33%; */
    margin: 20px auto;
    background: url('images/pic.jpg');
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: top right;
    border-bottom: solid 2px black;

}
/* 
.pic{
    padding: 0;
    margin: 0;
    position: relative;
    width: 13%;
    height: auto;
} */

/*img{
    position: absolute ; top: 120px; right: 210px;
    border: 2px solid;
    height: 4cm;
    border-radius: 5mm;
    }
*/
#block2{
    width: 1000px;
    height: 1200px;
    /* padding: 15px; */
}


h4{
    text-decoration:underline;
    color:rgb(255, 60, 0);
}
/* 
body{
    margin: 25mm;
    } */

.bg-position{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
#bg-1{
    background: url('./images1/pic.jpg');
    background-size: 20%;
    
}
#bg-2{
    background-color: blueviolet;
}
#bg-3{
    background: url('./images1/pic.jpg');
    background-repeat: repeat-y;
    background-size: 20%;
}
#bg-4{
    background: url('./images1/pic.jpg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center center;
}
/* 


#formbody{
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    width: 700px;
    margin: 10px auto;
    }

#formcontent{
    margin: 0 auto;
    align-content: center;
}
form address{
    text-align: center center;
}
form legend{
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgba(228, 25, 109, 0.877);
    border-color: blueviolet;
    background-color: chartreuse;
    margin: 5px;
    padding: 10px;
}
*/
/* Forms */

#container{
    width: 600px;
    margin: 0 auto;
}

form{
    background-image: url('images/red_background.jpg');
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form fieldset{
    background-image: url('images/blue_background.jpg');
    padding: 40PX;
    border: solid 1px white;
}
h2{
    margin: 0;
}
form legend{
    border: 1px solid #333;
    background-image: url('images/blue_background.jpg');
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

form label{
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
}
#form_button{
    text-align: center;
    margin: 20px;
    word-spacing: 3em;
}
form address{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
form input[type="text"], form input[type="email"], form textarea{
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid 1px #b90707;
    background-image: url('images/red_background.jpg');
}

form input[type="submit"], form input[type="reset"]
{
    border: none;
    background-image: url('images/Button-Background.jpg');
    height: 40px;
    padding: 0 20px;
    border: solid 1px #d4730c;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

